body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin-bottom: 100px;
}
header{
    margin: 40px 0 50px 0;
}
.container{
    margin: 0 auto;
    width: 1230px;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
.header__logo{
    width: 226px;
    height: 44px;
}
.header__search{
    height: 19px;
    width: 19px;
    position: absolute;
    left: 360px;
    margin-top: 14px;
}
.input-wrap{
    width: 670px;
    height: 48px;
    background: #F8FAFD;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.header__input{
    position: relative;
    width: 500px;
    height: 40px;
    border: none;
    background: transparent;
    margin-left: 60px;
    outline: 0;
    color: black;
    font-size: 15px;
}
.header__input::placeholder{
    padding-left: 60px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.24);
}
.wrap{
    display: flex;
}
.left{
    width: 268px;
}
.left-heading{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.left-text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155.6%;
    color: #000000;
    width: 218px;
}
.right{
    background: #E5E5E5;
}
.list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 33px;
    margin-right: 40px;
}
.list__item{
    border: 2px solid #E3E6EB;
    max-width: 282px;
    width: 100%;
    height: 460px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
}
.item__wrapper{
    padding: 15px;
    padding: 10px;
}
.item__img{
    width: 201px;
    height: 203px;
    text-align: center;
}
.item__heading{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.item__text{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #757881;
}
.item__year{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #757881;
}
.bookmark__btn{
    background: #FFD80D;
    border-radius: 4px;
    width: 120px;
    height: 37px;
    border: none;
    cursor: pointer;
    margin-right: 6px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.bookmark__btn:hover{
    background-color: #fdea0f;
}
.info__btn{
    background: rgba(13, 117, 255, 0.05);
    border-radius: 4px;
    width: 120px;
    height: 37px;
    border: none;
    cursor: pointer;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #0D75FF;
    margin-bottom: 15px;
}
.info__btn:hover{
    background-color: #b6c4ee;
}
.read__btn{
    margin-top: 75px;
    background: #75828A;
    border-radius: 4px;
    width: 246px;
    height: 37px;
    border: none;
    cursor: pointer;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 8px 82px;
    text-align: center;
    margin-left: 20px;
    text-decoration: none;
}
.read__btn:hover{
    background-color: #40525e;
}
.sun__logo{
    width: 23px;
    height: 23px;
    margin-top: 10px;
}
.logout{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #0D75FF;
    border-radius: 4px;
    width: 99px;
    height: 40px;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}
.logout:hover{
    background-color: #99bae5;
}
.navbar{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}
.result{
    margin-left: 306px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #222531;
}
.sort__wrapper{
    width: 165px;
    height: 35px;
    background: #A6B0C3;
    border-radius: 4px;
    display: flex;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-left: 5px;
    cursor: pointer;
}
.sort__wrapper:hover{
    background-color: #40525e;
}
.calendar{
    width: 24px;
    height: 24px;
    margin-top: 8px;
}
.sort{
    padding-left: 8px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.numbers-wrapper{
    width: 1100px;
    height: 50px;
    margin-bottom: 100px;
    overflow-x: scroll;
    /* display: inline-block; */
}
.next-btn, prev-btn{
    margin: 2px;
    display: inline-block;
}
.btns{
    overflow: hidden;
    color: black;
    float: left;
    margin: 2px;
}
.bookmark__list{
    width: 200px;
    height: 95%;
}
.bookmark-item{
    border:  2px solid yellow;
    /* height: 600px; */
}

/* modal */
.show-modal {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
  }
  
  .close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  .ad{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 78%;
    height: 800px;
    width: 500px;
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .modals{
    display: flex;
    display: none;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 145%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
  .modal-heading{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #222531;
  }
  .modal-img{
    width: 230px;
    height: 300px;
    border-radius: 5px;
  }
  .modal-header{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
  }
  .x-logo{
    width: 15px;
    height: 15px;
    border: none;
    background: transparent;
    margin-top: 30px;
    cursor: pointer;
    color: black;
  }
  .modal-heading{
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #222531;
  }
.modal-img{
    border-radius: 5px;
    text-align: center;
}  
.modal-desc{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 170.3%;
    color: #58667E;    
}
.modal-author, .modal-year, .modal-publisher, .modal-category, .modal-page{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222531;
}
.bookmark__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.bookmark-item{
    border-radius: 12px;
    padding: 5px;
   width: 218px;
   height: 72px;
   display: flex;
   margin-top: 10px;
}
.bookmark-heading{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.bookmark-author{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #757881;
}
.bookmark-delete{
    margin: 0 5px;
    margin-top: 20px;
    background-color: red;
    border: none;
    border-radius: 6px;
    height: 30px;
    width: 44px;
}
.bookmark-read{
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    height: 24px;
    width: 44px;
    background-color: yellow;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}